p, h1, h2, h3 {
    font-family:  Arial, sans-serif;
}

.country {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #CCC;
    stroke-width: 1px;
}

.gratBackground {
    fill: #DFDFF4;
}

.map {
    border: medium solid #999;
}